<div class="container">
  <h1 class="my-4">
    Page Heading
    <small>Secondary Text</small>
  </h1>
  <% posts.forEach( function(post) { %>
  <div class="row">
    <div class="col-md-3">
      <a href="#">
        <img
          class="img-fluid rounded mb-3 mb-md-0"
          src="http://placehold.it/200x200"
          alt=""
        />
      </a>
    </div>
    <div class="col-md-9">
      <h1><%= post.title %></h1>
      <h3>
        <%= post.subtitle %>
      </h3>
      <a
        ><%= post.username %>・<time
          datetime="<%= post.created %>"
          title="<%= moment(post.created).format('dddd, MMMM Do YYYY') %>"
          ><%= moment(post.created).format("MMMM Do") %></time
        ></a
      >

      <a
        class="btn btn-primary"
        href="/posts/<%= post.slug%>/<%= post.post_id%>"
        >View Project</a
      >
    </div>
  </div>

  <hr />
  <% }) %>
</div>
