<% include ./partials/flashMessages %>
<div class="feed">
  <h1>Gamestegy newsfeed</h1>
  <div class="interests"></div>
  <div class="post-list">
    <% posts.forEach( function(post) { %>
    <div class="post-list-item">
      <a
        class="post-list-item__link"
        href="/posts/<%= post.slug%>/<%= post.post_id%>"
      >
        <img
          class="post-list-item__image"
          src="<%=post.post_picture %>"
          alt=""
        />
      </a>

      <div>
        <a
          class="post-list-item__link"
          href="/posts/<%= post.slug%>/<%= post.post_id%>"
        >
          <h1 class="post-list-item__title"><%= post.title %></h1>
          <h3 class="post-list-item__subtitle">
            <%= post.subtitle %>
          </h3>
        </a>
        <div class="post-list-item__writer-prefix">By</div>
        <a class="post-list-item__writer-name">
          <%= post.username %>・<time
            class="post-list-item__date"
            datetime="<%= post.created %>"
            title="<%= moment(post.created).format('dddd, MMMM Do YYYY') %>"
            ><%= moment(post.created).format("MMMM Do") %></time
          ></a
        >
      </div>
    </div>
    <hr class="post-list-item__separator" />
    <% }) %>
  </div>
  <hr />
</div>
