<div class="container">
  <article>
    <header>
      <h2>Game: <%= post.game_name %></h2>
      <h2>Author: <%= post.username %></h2>
      <h1><%= post.title %></h1>
      <h6>
        <time
          datetime="<%= post.created %>"
          title="<%= moment(post.created).format('dddd, MMMM Do YYYY') %>"
          ><%= moment(post.created).format("MMMM Do") %></time
        >
      </h6>
      <h3><%= post.subtitle %></h3>
    </header>
    <!-- article body -->
    <div>
      <%- post.text %>
    </div>
    <div id="commento"></div>
    <script src="https://cdn.commento.io/js/commento.js"></script>
  </article>
</div>
